[submodule "APEX-MR"]
	path = third_party/APEX-MR
	url = https://github.com/xianzeYao/APEX-MR.git
[submodule "Robot_Digital_Twin"]
	path = third_party/Robot_Digital_Twin
	url = https://github.com/xianzeYao/Robot_Digital_Twin.git
[submodule "BrickSim"]
	path = third_party/BrickSim
	url = https://github.com/xianzeYao/BrickSim.git
[submodule "third_party/lerobot-realman"]
	path = third_party/lerobot-realman
	url = https://github.com/longlongzzl/lerobot-realman.git
	branch = 1.0.23
[submodule "third_party/BrickGPT"]
	path = third_party/BrickGPT
	url = git@github.com:xianzeYao/BrickGPT.git
