<?xml version='1.0' encoding='utf-8'?>
<robot name="b1x6">
  <link name="brick">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="0" ixy="-0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.57079632679" />
      <geometry>
        <mesh scale="0.001 0.001 0.001" filename="../../third_party/Robot_Digital_Twin/gazebo/meshes/lego/b1x6.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <gravity>0</gravity>
  </link>
  <gazebo reference="brick">
    <kinematic>true</kinematic>
    <visual>
      <transparency> 0 </transparency>
    </visual>
  </gazebo>
</robot>